.login{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22vw;
    padding: 50px;
}
.login .links .eregister{
    text-align: center;
    width: 290px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: white;
    color: #17388e;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(210, 209, 209);
}
.login .links .elogin{
    text-align: center;
    width: 290px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: #17388e;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(210, 209, 209);
}
.login .links .eregister:hover{
    background-color: #17388e;
    color: white;
}





.loginform {
    width: 30%;
    background-color: #17388e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding: 30px;
    border-radius: 5px;
  }
  
  .loginform h2 {
    color: white;
    font-size: 17px;
  }
  .loginform input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .loginform p {
    display: flex;
    gap: 6px;
    font-size: 15px;
    color: white;
  }
  .loginform a {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: white;
  }
  .loginform button {
    width: 90%;
    margin-left: -1px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px;
    color: white;
    background-color: #407bff;
    font-size: 15px;
    cursor: pointer;
  }
  